* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image-wrapper {
	width: 100vw;
	height: 500px;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.image-wrapper img {
	width: 100%;
	position: absolute;
	cursor: zoom-in;
}